.vbox
{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #0a4969 0%, #1f537d 100%),
            #245a9d,
            #2243a3,
            radial-gradient(center 50% 50%, radius 100%,#2fa3b5,#234794);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0,75),4,0,0,1);
}